/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Roboto+Mono:wght@600&display=swap");

/* rest code  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background color  */
  --bg-black: #000;
  --bg-white: #fff;
  --bg-dark-gray: #484848
  --btn-gray: rgb(224, 224, 224);


  /* text color  */
  --text-black: #000;

  /* fonts  */
  --primary-font: "Roboto Mono", monospace !important;
  --secondary-font: "Oswald", sans-serif !important;
  --btn-font: "Lato", sans-serif;
}

.bg-dark-gray{
  background-color: var(--bg-dark-gray) !important;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}

h1,
h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-weight: 600;
}

img {
  cursor: pointer;
  filter: grayscale(100%);
}

img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

/* button  */
.btn-text-width {
  font-weight: 700;
}

.btn-gray {
  background-color: var(--btn-gray);
}

/* navbar  */
.header_wrapper .navbar .navbar-toggler {
  padding: 0.9275rem 0;
}

.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  line-height: 2;
  color: var(--text-black);
}

.navbar-brand,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600 !important;
}

/* card  */
.card_edu {
  border-radius: 0.625rem;
  background-color: var(--bg-white);
  box-shadow: 0.5085rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
  padding: 3.75rem 3.125rem 4.6875rem;
  transition: all 0.4s;
}

.card-footer-sticky{
  position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}

@keyframes movebounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.25rem);
  }
  50% {
    transform: translateY(0);
  }
}
